langchain
langchain_core
langchain_community
tavily
langchain_tavily
langchain_groq
langgraph
sentence-transformers
streamlit
fastapi
chromadb
uvicorn
faiss-cpu
python_dotenv
python-multipart
